<p style="color: green"><%= notice %></p>

<div class="container">
    <%= render @restaurant %>
  
    <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), class:"btn btn-primary btn-lg btn-block" %>
    <%= link_to "Back to restaurant", restaurants_path, class:"btn btn-primary btn-lg btn-block" %>  
    <%= link_to 'Destroy this restaurant', restaurant_path(@restaurant), data:{turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-danger btn-lg btn-block'%>
    <%= link_to "Rating this restaurant", new_restaurant_rating_path(@restaurant), class:"btn btn-success btn-lg btn-block"   %>
</div>



